<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8" />
    <title>Source - Modulo.js</title>
    <link rel="stylesheet" media="all" href="<%= css %>" /> <!-- for doccu css -->
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="icon" type="image/png" href="../../img/mono_logo.png" />
    <script src="../../js/Modulo.js"></script>
    <mod-load namespace="mdu" src="../../components/core.html"></mod-load>
    <mod-load namespace="mdu" src="../../components/pageparts.html"></mod-load>
</head>

<body>
  <mdu-Navbar selected="source"></mdu-Navbar>
  <script>Modulo.defineAll();</script>

  <div id="container">
    <div id="background"></div>
    <% if (sources.length > 1) { %>
      <ul id="jump_to">
        <li>
          <a class="large" href="javascript:void(0);">Jump To &hellip;</a>
          <a class="small" href="javascript:void(0);">+</a>
          <div id="jump_wrapper">
          <div id="jump_page_wrapper">
            <div id="jump_page">
              <% for (var i=0, l=sources.length; i<l; i++) { %>
                <% var source = sources[i]; %>
                <a class="source" href="<%- relative(destination(source)) %>">
                  <%- source %>
                </a>
              <% } %>
            </div>
          </div>
        </li>
      </ul>
    <% } %>
    <ul class="sections">
        <% if (!hasTitle) { %>
          <li id="title">
              <div class="annotation">
                  <h1><%- title %></h1>
              </div>
          </li>
        <% } %>
        <% for (var i=0, l=sections.length; i<l; i++) { %>
        <% var section = sections[i]; %>
        <li id="section-<%- i + 1 %>">
            <div class="annotation">
              <% heading = section.docsHtml.match(/^\s*<(h\d)>/) %>
              <div class="sswrap <%- heading ? 'for-' + heading[1] : '' %>">
                <a class="ss" href="#section-<%- i + 1 %>">&#x00a7;</a>
              </div>
              <%- section.docsHtml %>
            </div>
            <% if (section.codeText.replace(/\s/gm, '') != '') { %>
            <div class="content"><%- section.codeHtml %></div>
            <% } %>
        </li>
        <% } %>
    </ul>
  </div>
</body>
</html>
